body {
  height: 100%;
}

a {
  font-family: "Poppins", sans-serif;
}

.bg {
  height: 100%;
}
.name {
  font-size: 22px !important;
}

.aboutme-card-page {
  background-color: rgb(255, 226, 189);
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: rgb(255, 243, 230) !important;
  margin-bottom: 2rem;
  width: 40rem;
  margin-top: 2rem;
}
.align-centre {
  font-size: 16px;
  text-align: center;
  font-family: "poppins";
}
.textofcard {
  font-family: Arial, Helvetica, sans-serif;
}
.job {
  font-size: 20px !important;
  font-family: sans-serif;
  font-weight: bold !important;
}
.bg1 {
  background-color: rgb(255, 226, 189);
  width: 100%;
  height: 100%;
}
.Resume-page {
  padding: 1%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  height: 100%;
}
.dowload-button {
  float: right;
  padding-right: 5%;
}
.resume-card {
  padding: 5rem;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.resume-box {
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.resume-card-title {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}
.resume-card-content {
  width: 200%;
  display: flex;
  text-align: left;
  padding-right: 3rem;
}
.page-title {
  font-family: "Poppins";
}
.footer {
  position: relative;
  bottom: 0%;
  width: 100%;
}
.footer-links {
  font-size: 12px;
  text-align: center;
}
.form {
  background-color: rgb(255, 226, 189);
  width: 100%;
  display: flex;
}
.contact-title {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  margin-bottom: 3rem;
}
.contact-body {
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  padding: 2rem;
  margin-bottom: 2%;
}
@media only screen and (max-width: 3840px) {
  .textofcard {
    margin: 5rem;
    text-align: justify !important;
  }
  .align-centre {
    font-size: 50px !important;
  }
  .footer-links {
    font-size: 50px;
  }
  .aboutme-card {
    width: 130rem !important;
    height: 80rem !important;
  }
  .name {
    font-size: 60px !important;
  }
  .job {
    font-size: 52px !important;
  }
}
@media only screen and (max-width: 1920px) {
  .textofcard {
    margin: 3rem;
    text-align: justify !important;
  }
  .align-centre {
    font-size: 26px !important;
  }
  .aboutme-card {
    width: 58rem !important;
    height: 40rem !important;
    margin-bottom: 11rem;
  }
  .footer-links {
    font-size: 20px;
  }
  .name {
    font-size: 35px !important;
  }
  .job {
    font-size: 25px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .textofcard {
    margin: 3rem;
    text-align: justify !important;
  }
  .align-centre {
    font-size: 22px !important;
  }
  .footer-links {
    font-size: 16px;
  }
  .aboutme-card {
    width: 54rem !important;
    height: 35rem !important;
    margin-bottom: 7.5rem;
  }
  .name {
    font-size: 22px !important;
  }
  .job {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 1366px) {
  .textofcard {
    margin: 1rem;
    text-align: justify !important;
  }
  .align-centre {
    font-size: 16px !important;
  }
  .aboutme-card {
    width: 38rem !important;
    height: 25rem !important;
    margin-bottom: 2.5rem;
  }
  .footer-links {
    font-size: 12px;
  }
  .name {
    font-size: 21px !important;
  }
  .job {
    font-size: 19px !important;
  }
}
@media only screen and (max-width: 991px) {
  .textofcard {
    margin: 1rem;
    text-align: justify !important;
  }
  .align-centre {
    font-size: 20px !important;
  }
  .aboutme-card {
    width: 35rem !important;
    height: 32rem !important;
  }
  .name {
    font-size: 20px !important;
  }
  .job {
    font-size: 18px !important;
  }
  .footer {
    bottom: 0px !important;
  }
}
@media only screen and (max-width: 767px) {
  .textofcard {
    margin: 1rem;
    text-align: justify !important;
  }
  .align-centre {
    font-size: 18px !important;
  }
  .aboutme-card {
    width: 30rem !important;
    height: 30rem !important;
  }
  .name {
    font-size: 18px !important;
  }
  .job {
    font-size: 16px !important;
  }
  .footer {
    bottom: 0px !important;
  }
  .Resume-page {
    padding: 0%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .resume-box {
    padding: 0.5rem;
  }
  .resume-card-content {
    width: 100%;
    text-align: justify;
    padding-right: 0rem;
    font-size: 14px;
  }
  .resume-card {
    padding: 2rem;
    display: block;
  }
  .page-title {
    margin-bottom: 1rem !important;
  }
  .form {
    flex-direction: column-reverse !important;
  }
}
@media only screen and (max-width: 600px) {
  .textofcard {
    margin: 1rem;
    text-align: justify !important;
  }
  .align-centre {
    font-size: 18px !important;
  }
  .aboutme-card {
    width: 19rem !important;
    height: 30rem !important;
  }
  .job {
    font-size: 14px !important;
  }
  .name {
    font-size: 16px !important;
  }
  .footer {
    bottom: 0px !important;
  }
}
@media only screen and (max-width: 400px) {
  .textofcard {
    margin: 1rem;
    text-align: justify !important;
  }
  .align-centre {
    font-size: 15px !important;
  }
  .aboutme-card {
    width: 17rem !important;
    height: 27rem !important;
  }
  .name {
    font-size: 14px !important;
  }
  .job {
    font-size: 12px !important;
  }
  .footer {
    bottom: 0px !important;
  }
}
